:root{
    --text-primary: #ffffff;
    --background-primary: #007bff;
    --background-primary-hover: #0069d9;

    --text-secondary: #ffffff;
    --background-secondary: #6c757d;
    --background-secondary-hover: #5a6268;

    --text-success: #ffffff;
    --background-success: #28a745;
    --background-success-hover: #218838;

    --text-danger: #ffffff;
    --background-danger: #dc3545;
    --background-danger-hover: #c82333;

    --text-warning: #212529;
    --background-warning: #ffc107;
    --background-warning-hover: #e0a800;

    --text-info: #ffffff;
    --background-info: #17a2b8;
    --background-info-hover: #138496;

    --text-light: #212529;
    --background-light: #f8f9fa;
    --background-light-hover: #e2e6ea;

    --text-dark: #ffffff;
    --background-dark: #212529;
    --background-dark-hover: #23272b;
}

*{
  box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,700,900&display=swap');

small {
    font-size: 80%;
    font-weight: 400;
}

label {
    display: inline-block;
    margin-bottom: .5rem;
}

input {
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    overflow: visible;
}

select {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  text-transform: none;
  word-wrap: normal;
}

textarea
{
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    overflow: auto;
    resize: vertical;
}

// WC-TEXT-UPPERCASE
.wc-text-uppercase{
    text-transform: uppercase !important;
}

/* Close Button */

.wc-close-button
{
    cursor: pointer;
    background: transparent;
    border: 1px solid transparent;
}

/* Position */

/* Modal */

.wc-modal
{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: none;
    z-index: 99999999;
    overflow: hidden;
    overflow-y: auto;

    &.wc-show-modal{
        display: flex;
        overflow-x: hidden;
        overflow-y: auto;
    }
}

.wc-modal-background-fixed
{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: block;
    justify-content: center;
    align-items: center;
    background: rgba(0,0,0,0.5);
    backdrop-filter: blur(5px);
    -web-kit-backdrop-filter: blur(5px);
}

.wc-modal-dialog{
    position: relative;
    width: auto;
    display: flex;
    flex-direction: column;
    height: 100%;
    max-height: calc(100% - 2rem);
    margin: 1rem auto;
}

.wc-modal-content
{
    display: flex;
    flex-direction: column;
    position: relative;
    width: 500px;
    background: #fff;
    border-radius: 10px;
    font-family: 'Roboto', sans-serif;
    z-index: 99999;
    overflow: hidden;
    margin: auto;
}

.wc-modal-header
{
    padding: 20px;
    display:flex;
    justify-content: space-between;
    align-items: center;
    background: #f2f2f2;
    border-radius: 10px 10px 0px 0px;
}

.wc-modal-header .wc-close-button
{
    font-size: 1.4rem;
    padding: 10px;
}

.wc-modal-body
{
    padding: 20px;
    flex: 1 1 auto;
    overflow-y: auto;
    overflow-x: hidden;
}

.wc-modal-content.wc-modal-sm{
    width: 300px;
}

.wc-modal-content.wc-modal-lg{
    width: 800px;
}

.wc-modal-content.wc-modal-xl{
    width: 1140px;
}

.wc-modal-title
{
    font-weight: 700;
    font-size: 1.5rem;
}

.wc-modal-title h1,
.wc-modal-title h2,
.wc-modal-title h3,
.wc-modal-title h4,
.wc-modal-title h5
{
    margin: 0 !important;
}

.wc-modal-footer
{
    padding: 20px;
    display: flex;
    justify-content: flex-end;
    background: #f2f2f2;
    border-radius: 0px 0px 10px 10px;
}

/* Shadow */

.wc-shadow-lg
{
    box-shadow: 0 20px 30px 5px rgba(0,0,0,0.3);
}

/* Buttons */

.wc-btn {
    display: inline-block;
    font-weight: 400;
    color: #212529;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    padding: .40rem 1rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 2rem;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    margin: 0 .25rem;
}

@media (prefers-reduced-motion:reduce) {
    .wc-btn {
        transition: none;
    }
}

.wc-btn:hover {
    color: #212529;
    text-decoration: none;
}

.wc-btn:focus {
    outline: 0;
    box-shadow: 0 0 0 .2rem rgba(0, 123, 255, .25);
}

.wc-btn:disabled {
    opacity: .65;
}

.wc-btn-primary {
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
}

.wc-btn-primary:hover {
    color: #fff;
    background-color: #0069d9;
    border-color: #0062cc;
}

.wc-btn-primary:focus {
    color: #fff;
    background-color: #0069d9;
    border-color: #0062cc;
    box-shadow: 0 0 0 .2rem rgba(38,143,255,.5);
}

.wc-btn-primary:disabled {
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
}

.wc-btn-secondary {
    color: #fff;
    background-color: #6c757d;
    border-color: #6c757d;
}

.wc-btn-secondary:hover {
    color: #fff;
    background-color: #5a6268;
    border-color: #545b62;
}

.wc-btn-secondary:focus {
    color: #fff;
    background-color: #5a6268;
    border-color: #545b62;
    box-shadow: 0 0 0 .2rem rgba(130,138,145,.5);
}

.wc-btn-secondary:disabled {
    color: #fff;
    background-color: #6c757d;
    border-color: #6c757d;
}

.wc-btn-success {
    color: #fff;
    background-color: #28a745;
    border-color: #28a745;
}

.wc-btn-success:hover {
    color: #fff;
    background-color: #218838;
    border-color: #1e7e34;
}

.wc-btn-success:focus {
    color: #fff;
    background-color: #218838;
    border-color: #1e7e34;
    box-shadow: 0 0 0 .2rem rgba(72,180,97,.5);
}

.wc-btn-success:disabled {
    color: #fff;
    background-color: #28a745;
    border-color: #28a745;
}

.wc-btn-danger{
    color:#fff;
    background-color:#dc3545;
    border-color:#dc3545;
}

.wc-btn-danger:hover{
    color:#fff;
    background-color:#c82333;
    border-color:#bd2130;
}

.wc-btn-danger:focus{
    color:#fff;
    background-color:#c82333;
    border-color:#bd2130;
    box-shadow:0 0 0 .2rem rgba(225,83,97,.5);
}

.wc-btn-danger:disabled{
    color:#fff;
    background-color:#dc3545;
    border-color:#dc3545;
}

.wc-btn-warning {
    color: #212529;
    background-color: #ffc107;
    border-color: #ffc107;
}

.wc-btn-warning:hover {
    color: #212529;
    background-color: #e0a800;
    border-color: #d39e00;
}

.wc-btn-warning:focus {
    color: #212529;
    background-color: #e0a800;
    border-color: #d39e00;
    box-shadow: 0 0 0 .2rem rgba(222,170,12,.5);
}

.wc-btn-warning:disabled {
    color: #212529;
    background-color: #ffc107;
    border-color: #ffc107;
}

.wc-btn-info {
    color: #fff;
    background-color: #17a2b8;
    border-color: #17a2b8;
}

.wc-btn-info:hover {
    color: #fff;
    background-color: #138496;
    border-color: #117a8b;
}

.wc-btn-info:focus {
    color: #fff;
    background-color: #138496;
    border-color: #117a8b;
    box-shadow: 0 0 0 .2rem rgba(58,176,195,.5);
}

.wc-btn-info:disabled {
    color: #fff;
    background-color: #17a2b8;
    border-color: #17a2b8;
}

.wc-btn-light {
    color: #212529;
    background-color: #f8f9fa;
    border-color: #f8f9fa;
}

.wc-btn-light:hover {
    color: #212529;
    background-color: #e2e6ea;
    border-color: #dae0e5;
}

.wc-btn-light:focus {
    color: #212529;
    background-color: #e2e6ea;
    border-color: #dae0e5;
    box-shadow: 0 0 0 .2rem rgba(216,217,219,.5);
}

.wc-btn-light:disabled {
    color: #212529;
    background-color: #f8f9fa;
    border-color: #f8f9fa;
}

.wc-btn-dark{
    color:#fff;
    background-color:#343a40;
    border-color:#343a40;
}

.wc-btn-dark:hover{
    color:#fff;
    background-color:#23272b;
    border-color:#1d2124;
}

.wc-btn-dark:focus{
    color:#fff;
    background-color:#23272b;
    border-color:#1d2124;
    box-shadow:0 0 0 .2rem rgba(82,88,93,.5);
}

.wc-btn-dark:disabled{
    color:#fff;
    background-color:#343a40;
    border-color:#343a40;
}

.wc-btn-link {
    font-weight: 400;
    color: #007bff;
    text-decoration: none;
}

.wc-btn-link:hover {
    color: #0056b3;
    text-decoration: underline;
}

.wc-btn-link:focus {
    text-decoration: underline;
    box-shadow: none;
}

.wc-btn-link:disabled {
    color: #6c757d;
    pointer-events: none;
}

/* Form */

/* Form Group */

.wc-form-group
{
    margin-bottom: 1rem;
}


/* Form control */


/* input */

.wc-form-control
{
    display: block;
    width: 100%;
    height: calc(1.5em + .75rem + 2px) !important;
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5 !important;
    color: #495057 !important;
    background-color: #fff !important;
    background-clip: padding-box;
    border: 1px solid #ced4da !important;
    border-radius: 2rem !important;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

@media (prefers-reduced-motion:reduce) {
    .wc-form-control {
        transition: none;
    }
}

.wc-form-control::-ms-expand
{
    background-color: transparent;
    border: 0;
}

.wc-form-control:-moz-focusring
{
    color: transparent;
    text-shadow: 0 0 0 #495057;
}

.wc-form-control:focus
{
    color: #495057;
    background-color: #fff;
    border-color: #80bdff;
    outline: 0;
    box-shadow: 0 0 0 .2rem rgba(0,123,255,.25);
}

.wc-form-control::-webkit-input-placeholder
{
    color: #6c757d;
    opacity: 1;
}

.wc-form-control::-moz-placeholder
{
    color: #6c757d;
    opacity: 1;
}

.wc-form-control:-ms-input-placeholder
{
    color: #6c757d;
    opacity: 1;
}

.wc-form-control::-ms-input-placeholder
{
    color: #6c757d;
    opacity: 1;
}

.wc-form-control::placeholder
{
    color: #6c757d;
    opacity: 1;
}

.wc-form-control:disabled
{
    background-color: #e9ecef;
    opacity: 1;
}

textarea.wc-form-control
{
    border-radius: 1rem !important;
    height: auto !important;
}

/* input group */

.wc-input-group,
.wc-select-group
{
    display: flex;
    align-items: center;
}

.wc-input-group > .wc-input-group-prepend + .wc-input-group-field input,
.wc-input-group > .wc-input-group-prepend + input,
.wc-select-group > .wc-select-group-prepend + .wc-select-group-field select
{
    border-top-left-radius: 0 !important;
    border-bottom-left-radius: 0 !important;
    border-left: 0px solid transparent !important;
}

/* input group prepend */

.wc-input-group-prepend,
.wc-select-group-prepend
{
    height: calc(1.5em + .75rem + 2px) !important;
    padding: .375rem .75rem !important;
    padding-left: 1rem !important;
    font-size: 1rem;
    line-height: 1.5 !important;
    border: 1px solid #ced4da !important;
    border-top-left-radius: 2rem !important;
    border-bottom-left-radius: 2rem !important;
    color: #495057;
    background: #e6e6e6;
}

.wc-form-text {
    display: block;
    margin-top: .25rem;
}

.wc-text-muted {
    color: #6c757d !important;
}


/* WC-DESIGN GRID */

.wc-row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

.wc-col,
.wc-col-1,
.wc-col-2,
.wc-col-3,
.wc-col-4,
.wc-col-5,
.wc-col-6,
.wc-col-7,
.wc-col-8,
.wc-col-9,
.wc-col-10,
.wc-col-11,
.wc-col-12
{
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}

.wc-col {
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -ms-flex-positive: 1;
    flex-grow: 1;
    max-width: 100%;
    min-height: 1px;
}

.wc-col-1 {
    flex: 0 0 12%;
    max-width: 12%;
}

.wc-col-2 {
    flex: 0 0 16.666666%;
    max-width: 16.666666%;
}

.wc-col-3 {
    flex: 0 0 25%;
    max-width: 25%;
}

.wc-col-4 {
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
}

.wc-col-5 {
    flex: 0 0 41.666666%;
    max-width: 41.666666%;
}

.wc-col-6 {
    flex: 0 0 50%;
    max-width: 50%;
}

.wc-col-7 {
    flex: 0 0 58.333333333%;
    max-width: 58.333333333%;
}

.wc-col-8 {
    flex: 0 0 66.666666%;
    max-width: 66.666666%;
}

.wc-col-9 {
    flex: 0 0 75%;
    max-width: 75%;
}

.wc-col-10 {
    flex: 0 0 83.333333%;
    max-width: 83.333333%;
}

.wc-col-11 {
    flex: 0 0 91.666666%;
    max-width: 91.666666%;
}

.wc-col-12 {
    flex: 0 0 100%;
    max-width: 100%;
}

/* Custom Select */

.wc-custom-select {
  display: inline-block;
  width: 100% !important;
  max-width: 100% !important;
  height: calc(1.5em + .75rem + 2px) !important;
  padding: .375rem 1.75rem .375rem .75rem !important;
  font-size: 1rem !important;
  font-weight: 400;
  line-height: 1.5 !important;
  color: #495057 !important;
  vertical-align: middle;
  background: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 4 5'%3e%3cpath fill='%23343a40' d='M2 0L0 2h4zm0 5L0 3h4z'/%3e%3c/svg%3e") no-repeat right .75rem center/8px 10px;
  background-color: #fff !important;
  border: 1px solid #ced4da !important;
  border-radius: 2rem !important;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  transition: background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.wc-custom-select:focus {
  border-color: #80bdff;
  outline: 0;
  box-shadow: 0 0 0 .2rem rgba(0,123,255,.25);
}

.wc-custom-select:disabled {
  color: #6c757d;
  background-color: #e9ecef;
}

.wc-custom-select::-ms-expand {
  display: none;
}

@media (prefers-reduced-motion:reduce) {
  .wc-custom-select {
    transition: none;
  }
}

/* Custom Selec */

.wc-select-group-field{
    position: relative;
    width: 100%;
}

.wc-custom-select-options{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1997;
}

.wc-custom-select-options.open{
    z-index: 2020;
}

.wc-select-action{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1997;
}

.wc-select-options-content{
    min-width: 150px;
    width: 100%;
    position: absolute;
    display: none;
    left: 0;
    top: 100%;
    background: #fff;
    box-shadow: 0 4px 15px 0px rgba(0,0,0,0.3);
    border-radius: 2rem;
    padding: 10px;
    margin-bottom: 20px;
    z-index: 1997;

    &.show{
        display: block;
        z-index: 2020;
    }

    .wc-list-select-options-items{
        list-style-type: none;
        padding: 0;
        margin: 0;

        .wc-list-select-option-item{
            padding:0px;
            margin: 0;

            .wc-option-item-link{
                color: #343a40;
                text-decoration: none;
                padding: 10px 15px;
                border-radius: 2rem;
                display: block;

                &:hover{
                    color: var(--text-secondary);
                    background: var(--background-secondary-hover);
                }
            }
        }
    }

}

.wc-select-group-prepend + .wc-select-group-field .wc-select-options-content{
    left: -30px;
    width: calc(100% + 30px);
}